<h3>
    Login
  </h3>

  <form>
    <div class="form-group row">
      <div class="input-field col s12">
        <input type="text" class="form-control" name="usuario">
        <label for="usuario">Usuário*</label>
      </div>
    </div>

    <div class="form-group row">
        <div class="input-field col s12">
          <input id="senha" type="password" class="form-control validate">
          <label for="senha">Password</label>
        </div>
    </div>

      <button (click)="logar()"  class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
  </form>






