
  <nav>
    <div class=" navbar-fixed">
      <a routerLink="home" class="brand-logo left">MetGaz</a>
      <ul class="right">
        <li><a routerLinkActive="active" routerLink="revendedor" >Revendedor</a></li>
        <li><a routerLinkActive="active" routerLink="home" >Home</a></li>
        <li><a routerLinkActive="active" routerLink="login">Login</a></li>
      </ul>

    </div>
  </nav>





<div class="container">
  <router-outlet></router-outlet>
</div>

<!--ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>

  <button-- class="btn" (click)="get_location()">Qual é a minha localização?</button-->




