<div class="row left purple-text m12">
    Seja bem vindo: Wellyngton Sampaio
</div>
<br>

    <div class="row yellow">

      <div class="col s6 m2 center">
          <a ><i class="material-icons large text-black">find_replace</i></a>
      </div>

      <div class="col s6 m2 center">
          <a ><i class="material-icons large">attach_money</i></a>
        </div>

        <div class="col s6 m2 center">
            <a ><i class="material-icons large">gps_fixed</i></a>
          </div>

          <div class="col s6 m2 center">
              <a ><i class="material-icons large">insert_chart</i></a>
            </div>

            <div class="col s6 m2 center">
                <a ><i class="material-icons large text-black">find_replace</i></a>
            </div>

            <div class="col s6 m2 center">
                <a ><i class="material-icons large">attach_money</i></a>
              </div>

              <div class="col s6 m2 center">
                  <a ><i class="material-icons large">gps_fixed</i></a>
                </div>

                <div class="col s6 m2 center">
                    <a ><i class="material-icons large">insert_chart</i></a>
                  </div>


                  <div class="col s6 m2 center">
                      <a ><i class="material-icons large text-black">find_replace</i></a>
                  </div>

                  <div class="col s6 m2 center">
                      <a ><i class="material-icons large">attach_money</i></a>
                    </div>

                    <div class="col s6 m2 center">
                        <a ><i class="material-icons large">gps_fixed</i></a>
                      </div>

                      <div class="col s6 m2 center">
                          <a ><i class="material-icons large">insert_chart</i></a>
                        </div>



                        <div class="col s6 m2 center">
                            <a ><i class="material-icons large text-black">find_replace</i></a>
                        </div>

                        <div class="col s6 m2 center">
                            <a ><i class="material-icons large">attach_money</i></a>
                          </div>

                          <div class="col s6 m2 center">
                              <a ><i class="material-icons large">gps_fixed</i></a>
                            </div>

                            <div class="col s6 m2 center">
                                <a ><i class="material-icons large">insert_chart</i></a>
                              </div>




            <div class="col s6 m2 red center">
                <a ><i class="material-icons large text-black">find_replace</i></a>
            </div>

            <div class="col s6 m2 center">
                <a ><i class="material-icons large">my_location</i></a>
              </div>

              <div class="col s6 m2 center">
                  <a ><i class="material-icons large">gps_fixed</i></a>
                </div>

                <div class="col s6 m2 center">
                    <a ><i class="material-icons large">location_on</i></a>
                  </div>



                  <div class="col s6 m2 red center">
                      <a ><i class="material-icons large text-black">find_replace</i></a>
                  </div>

                  <div class="col s6 m2 center">
                      <a ><i class="material-icons large">my_location</i></a>
                    </div>

                    <div class="col s6 m2 center">
                        <a ><i class="material-icons large">gps_fixed</i></a>
                      </div>

                      <div class="col s6 m2 center">
                          <a ><i class="material-icons large">location_on</i></a>
                        </div>



                        <div class="col s6 m2 red center">
                            <a ><i class="material-icons large text-black">find_replace</i></a>
                        </div>

                        <div class="col s6 m2 center">
                            <a ><i class="material-icons large">my_location</i></a>
                          </div>

                          <div class="col s6 m2 center">
                              <a ><i class="material-icons large">gps_fixed</i></a>
                            </div>

                            <div class="col s6 m2 center">
                                <a ><i class="material-icons large">location_on</i></a>
                              </div>


    </div>



