
<form [formGroup]="form" (ngSubmit)="cadastrar()">

  <div class="row">
      <div class="input-field col s12">
        <input type="text" class="form-control" id="usuario" formControlName="usuario">
        <label for="usuario">Usuário*</label>
      </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <input id="nome" type="text" class="form-control" formControlName="nome">
          <label for="nome">Nome Completo</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <input type="text" class="form-control" formControlName="cpf">
          <label for="cpf">CPF</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <input id="dataNascimento" type="date" class="form-control" formControlName="dataNascimento">
          <label for="dataNascimento"></label>
        </div>
    </div>

      <button type="submit" class="btn waves-effect waves-light">Salvar
          <i class="material-icons right">drive</i>
        </button>

        <app-form-debug [form]="form"></app-form-debug>
</form>



