<h3>
  Listar Revendedores
</h3>


<ul>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">whatshot</i>Sincero Gás R$ 100,00
        <a class="red-text btn-small" (click)="criar()">
          <i class="material-icons right">attach_money</i>
        </a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">whatshot</i>Franco Gás R$ 101,00
        <a class="red-text btn-small" (click)="criar()">
          <i class="material-icons right">attach_money</i>
        </a>
      </div>
    </li>
  </ul>




